{% extends 'base.html' %}
{% block inside_row %}
<div class="panel panel-default col-md-6 col-md-offset-3">
    <form class="panel-body" role="form" method="post" action="{% url 'signin' %}">
        <h2>登陆</h2>
        {% csrf_token %}
        <div class="form-group ">
            <label for="username">用户名</label>
            <input class="form-control" id="username" name="username" placeholder="" type="text">
        </div>

        <div class="form-group ">
            <label for="password">密码</label>
            <input class="form-control" id="password" name="password" type="password">
        </div>

        <div class="form-group">
            <button class="btn btn-default">
                登陆
            </button>
            <a class="btn btn-link" href="{% url 'reg' %}">注册？</a>
            <a class="btn btn-link" href="{% url 'password_reset' %}">找回密码？</a>
        </div>
    </form>
</div>
{% endblock %}