{% extends 'base-with-sidebar.html' %}
{% block left %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">找回密码</h3>
    </div>
    {% if validlink %}
    <form class="form-horizontal panel-body" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default">
                    提交
                </button>
            </div>
        </div>
    </form>
    {% else %}
        <p>This reset link is no longer valid!</p>
    {% endif %}
</div>
{% endblock %}
{% block right %}
{% include 'node.html' %}
{% include 'links.html' %}
{% endblock %}