{% load i18n%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
                {% trans 'site stat' %}
        </h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            {% trans 'number of users'%}:{{conf.user_count}}
        </li>
        <li class="list-group-item">
            {% trans 'number of topics'%}:{{conf.topic_count}}
        </li>
        <li class="list-group-item">
            {% trans 'number of replies'%}:{{conf.post_count}}
        </li>
    </ul>
</div>
