{% load i18n %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> {% if request.user.is_authenticated %}
        {{request.user.profile.username}}
        {% else %}
        什么是FairyBBS
        {% endif %} </h3>
    </div>
    <div class="panel-body">
        {% if request.user.is_authenticated %}
        <div class="row">
            <a class="col-xs-2"><img title="{{request.user.profile.username}}" class="avatar-middle" src="{{request.user.profile.avatar.middle}}"></a>
            <div class="padtop">
                <div class="col-xs-3">
                    <a href="{% url 'user_info' request.user.id %}" class="btn btn-block"> <span class="glyphicon glyphicon-home"></span> {% trans 'info' %} </a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'user_setting' %}" class="btn btn-block"> <span class="glyphicon glyphicon-cog"></span> {% trans 'settings' %} </a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'signout' %}" class="btn btn-block"> <span class="glyphicon glyphicon-log-out"></span> {% trans 'log out' %} </a>
                </div>
            </div>

        </div>
        {% else %}
        <p class="text-center">
            FairyBBS是使用Django框架建立的小型论坛系统
        </p>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'signin' %}" class="btn btn-block btn-info">{% trans 'sign in' %}</a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'reg' %}" class="btn btn-block btn-default">{% trans 'reg' %}</a>
            </div>
        </div>
        {% comment %}
        <hr>
        <div>
            <p>其他登陆方式：
            <a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101029751&redirect_uri=http%3A//python.cc/user/oauth/qq/&scope=get_user_info,add_t&state=pythoncclogin">
            <img src="/static/image/Connect_logo_7.png">
            </a>
            </p>
        </div>
        {% endcomment %}
        {% endif %}
    </div>
    {% if request.user.profile.unread_mention %}
    <div class="panel-footer">
        <span class="notification"><a href="{% url 'mention' %}">{{request.user.profile.unread_mention.count}}{% trans 'new messages' %}</a></span>
    </div>
    {% endif %}
</div>
