{% extends 'base-with-sidebar.html' %}
{% block left %}
{% include 'topic-list.html' %}
{% endblock %}
{% block right %}
{% include 'node-info.html' %}
{% include 'user-panel.html' %}
{% include 'node.html' %}
{% include 'links.html' %}
{% endblock %}
{% block footer_ext %}
<script> var host = "{{request.META.HTTP_HOST}}";var page = "{{page}}"; </script>
<script>
    function next_page(){
        window.location = 'http://' + host + "{% url 'node_view' node.id %}" + "?page=" + (parseInt(page) + 1);
    }
    function prev_page(){
        window.location = 'http://' + host + "{% url 'node_view' node.id %}" + "?page=" + (parseInt(page) - 1);
    }
</script>
{% endblock %}